<style>
    /* Welcome style */
    .welcome {
        text-align: center;
        padding: 2em 0;
    }

    .welcome h1 {
        font-size: 3em;
        color: #1abc9c;
        margin-bottom: 0.5em;
    }

    .welcome p {
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    /* Button group style */
    .button-group {
        text-align: center;
    }

    .button-group a {
        background-color: #1abc9c;
        color: white;
        text-decoration: none;
        padding: 0.8em 1.5em;
        border-radius: 5px;
        font-size: 1em;
        margin: 0.5em;
        display: inline-block;
    }

    .button-group a:hover {
        background-color: #16a085;
    }

    /* Patates link style */
    .patates {
        text-align: center;
        padding: 2em 0;
    }

    .patates a {
        font-size: 3em;
        color: #0044ff;
        /* Mavi renk */
        margin-bottom: 0.5em;
        text-decoration: none;
        /* Link alt çizgisini kaldırmak için */
        font-weight: bold;
        /* Yazıyı kalın yapmak için */
    }

    .patates a:hover {
        color: #1abc9c;
        /* Hover efekti: yeşil renk */
    }
</style>

@if (User.Identity.IsAuthenticated && (User.IsInRole("User") || User.IsInRole("Admin")))

{
    <div class="patates">
        <a href="/Product/Index">Click to view products.</a>
    </div>
}
else
{
    <div class="welcome">
        <h1>Welcome!</h1>
        <p>"Welcome to MOTOMARKA. Explore now for the best products in the world of motorcycles."</p>
    </div>

    <div class="button-group">
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
        <a asp-controller="Account" asp-action="Login">Log In</a>
    </div>
}
